{% extends "FastFoodBundle:Ticket:layout.html.twig" %}

{% block title %}List Ticket{% endblock %}
{% block head %}
    {{ parent() }}
        <style type="text/css">
                .important { color: #336699; }
        </style>
{% endblock %}
{% block content %}
        <h1>List Tickets</h1>
        <p class="important">
    <table>
    <tr><th>id</th><th>Name</th><th>Date</th><th></th><th></th></tr>
        {% for ticket in tickets %}
            <tr><td>{{ ticket.id|e }}</td><td>{{ ticket.name|e }}</td><td>{{ ticket.date|date("d/m/Y") }}</td><td><a href="{{ url('edit_ticket', {'id': ticket.id}) }}">Edit</a></td><td><a href="{{ url('delete_ticket', {'id': ticket.id}) }}">Delete</a></td></tr>
        {% endfor %}
    </table>
    <a href={{ url('new_ticket') }}>New Ticket</a><a href={{ url('product_list') }}>Product List</a>
        </p>
{% endblock %}

