{% extends "FastFoodBundle:Ticket:layout.html.twig" %}

{% block title %}New Ticket {% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <h3>New Ticket</h3>
    <table>
        <tr>
            <td>{{ form_row(form.date) }}</td>
        </tr>
        <tr>
            <td>{{ form_row(form.details) }}</td>
        </tr>

    </table>
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>

    {{ form_end(form) }}
{% endblock %}



